

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<div class="row">
		  <div class="col-md-4">
		          <a class="btn btn-primary" href="#/addvideo">Add Video</a>
		  </div>
	      <div class="col-md-4">
	        <div role="form" class="form-inline">
	          <div class="form-group">
	            <label for="exampleInputEmail2">Query</label>
	            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Query" ng-model="query">
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4">
	        <div role="form" class="form-inline">
	          <div class="form-group">
	          <label for="exampleInputEmail2">Sort</label>
	            <select class="form-control" ng-model="orderProp">
	              <option value="-id">Newest</option>
	              <option value="id">Oldest</option>
	              <option value="title">Alphabetical</option>
	            </select>
	          </div>
	        </div>
	      </div>
	    </div>

		<table class="table table-stripped table-hover">
			<thead>
				<tr>
					<th>Playlist</th>
					<th colspan="2">Manage</th>
				</tr>
			</thead>
			<tr ng-repeat="video in Playlist | filter:query | orderBy:orderProp">
				<td>
					<a href="#/video/{{video.id}}"> 
						{{video.title}} ( {{video.url}} )
					</a>
				</td>
				<td>
					<a class="btn btn-link" href="#/editvideo/{{video.id}}">edit</a>
				</td>
				<td>
					<a class="btn btn-link" ng-click="removeVideo(video.id)">remove</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>
